<div class="d-flex justify-between align-center" style="margin: 40px 0 32px 0;">
  <div class="pizza-types-list">
    <app-pizza-type-button
      *ngFor="let pizzaType of pizzaTypesList"
      [pizzaTypeName]="pizzaType.name"
      [active]="activeType === pizzaType.name"
      (changeActive)="handleChangeType($event)">
    </app-pizza-type-button>
  </div>
  <div
    class="d-flex"
    style="position: relative;"
    (clickOutside)="handleChangeDropdownState(false)"
  >
    <p class="font-body-1 sort-by-text" style="width: 105px;">Сортировка по: </p>
    <p
      class="font-body-1 selected-type-of-sort"
      style="cursor: pointer;"
      (click)="handleChangeDropdownState(!isSortByDropdownOpen)"
    >{{ activeSortBy }}</p>
    <app-dropdown
      [items]="sortByTypes"
      [activeItem]="activeSortBy"
      [isOpen]="isSortByDropdownOpen"
      (changeOpenState)="handleChangeDropdownState($event)"
      (changeItem)="handleChangeSortBy($event)"
    ></app-dropdown>
  </div>
</div>