.pizza-types-list {
  display: flex;
  align-items: center;
  gap: 9px;
  flex-wrap: wrap;
}

.sort-by-text {
  color: #2C2C2C;
}

.selected-type-of-sort {
  display: inline-block;
  color: #FE5F1E;
  border-bottom: 1px dashed #FE5F1E;
}