.app-pizza-page {
  padding: 40px;
  background-color: #FFDF8C;
}

.pizza-page {
  background: white;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}

.pizza-page-content {
  padding: 50px 60px;
}